In [1]:
import pandas as pd 

row1 = ["001","l1|l2|l2|l4","a|a|a|b"]

row2 = ["002","l2|l2|l4","b|a|b"]

df = pd.DataFrame(data=[row1,row2], columns=["id", "level", "person"])

df

    id        level   person
0  001  l1|l2|l2|l4  a|a|a|b
1  002     l2|l2|l4    b|a|b

In [2]:
for col in df.columns:
    if any(df[col].str.contains("|")):
        df[f"{col}_transformed"] = df[col].str.split("|")

In [3]:
df

,id,level,person,id_transformed,level_transformed,person_transformed
0,001,l1|l2|l2|l4,a|a|a|b,[001],"[l1, l2, l2, l4]","[a, a, a, b]"
1,002,l2|l2|l4,b|a|b,[002],"[l2, l2, l4]","[b, a, b]"

In [4]:
df.explode(column=["level_transformed", "person_transformed"])

,id,level,person,id_transformed,level_transformed,person_transformed
0,001,l1|l2|l2|l4,a|a|a|b,[001],l1,a
0,001,l1|l2|l2|l4,a|a|a|b,[001],l2,a
0,001,l1|l2|l2|l4,a|a|a|b,[001],l2,a
0,001,l1|l2|l2|l4,a|a|a|b,[001],l4,b
1,002,l2|l2|l4,b|a|b,[002],l2,b
1,002,l2|l2|l4,b|a|b,[002],l2,a
1,002,l2|l2|l4,b|a|b,[002],l4,b

In [7]:
transformed_columns = [col for col in df.columns if 'transformed' in col]
transformed_columns

['id_transformed', 'level_transformed', 'person_transformed']